@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css");
body {
  font-family: Diablo;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(#8B0000), to(#000000));
  background: linear-gradient(to bottom, #8B0000, #000000);
}

.content {
  padding: 20px;
  color: white;
}

ul {
  margin: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

address {
  font-style: normal;
}

input {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: inherit;
  cursor: default;
}

input:focus, input:hover, input:not(:active:focus) {
  outline: none;
  border: none;
  -webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px;
          box-shadow: 0.5px 0.5px 0.5px 0.5px;
}

@font-face {
  font-family: Diablo;
  src: url(../fonts/ofont.ru_Diablo.woff);
}
@font-face {
  font-family: Slayer;
  src: url(../fonts/Slayer.woff);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 1;
  padding: 24px 0;
  min-height: 80px;
  width: 100%;
  background-color: inherit;
}
.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header-nav-logo {
  font-family: Slayer;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-right: auto;
}
.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-nav-list-item {
  margin: 0 10px;
}

a {
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

a:hover {
  color: #5A0000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-hero {
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-hero-wrap-title {
  font-family: Diablo;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}
.section-hero-wrap-description {
  font-family: Diablo;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

.footer {
  background-color: inherit;
  padding: 20px;
  text-align: center;
}
.footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-nav .nav-list, .footer .footer-nav .contacts-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.contacts-item-link:hover, .nav-link:hover {
  color: #8B0000;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.modal-content {
  background-color: #8B0000;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 90%;
  max-width: 600px;
  text-align: left;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.g-recaptcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

form label {
  margin-bottom: 5px;
  font-size: 18px;
}

form input {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type=submit] {
  background-color: #2C2C2C;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type=submit]:hover {
  background-color: #5A0000;
}

#ticket-count {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: red;
}

.modal-open-btn {
  background-color: #5A0000;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

span {
  font-size: 30px;
}/*# sourceMappingURL=main.css.map */