.footer {
    background-color: inherit;
    padding: 20px;
    text-align: center;

    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav-list, .contacts-list {
            list-style: none;
            padding: 0;
            margin: 10px 0;
            display: flex;
            justify-content: center;
            gap: 20px; 
        }
    }
}
.contacts-item-link,.nav-link{
    &:hover{
        color: $color-red;
    }
}   
