body {
    font-family: Diablo;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, #8B0000, #000000);
}
.content {
    padding: 20px;
    color: white;
}